body {
    padding-top: 60px;
}

h1,h1, h2, h3, h4, h5, h6 {
    font-family: 'Arial', sans-serif;
    font-weight:bold;
}

.btn.page{
    background-color:#97E3D6;
    color:#006F5C;
}

p {
    font-family: 'Arial', sans-serif;
}

footer {
    background-color: #FFE3D0;
    padding: 20px 0;
    text-align: center;
}

footer a {
    color:#000000;
}

a.navbar-brand {
    cursor:default !important;
}

a{
    color:#21A08A;
    text-decoration: none;
}

a:not(.nav-link):not(.navbar-brand):hover{
    text-decoration: underline;
}

.navbar {
    background-color: #FC8534; /* Color cambiado */
}
.navbar-brand, .nav-link {
    font-family: 'Arial black', sans-serif;
    color: #fff !important;
}
.navbar-brand img {
    margin-right: 15px; /* Añade separación entre el logo y el texto */
}

.img-fluid{
    object-fit:cover;
    height:350px;
    width:500px;
}

@media (max-width: 767px) { 
    .locations-section .col-md-6:nth-of-type(1) {
        margin-bottom: 50px; 
    }
}


@media (max-width: 767px) { 
    .news-section > .col-md-6:first-child {
        margin-bottom: 20px; 
    }
}

@media (max-width:767px) {
    .row.mt-5 .col-md-6 ul.custom-list:nth-of-type(1){
        margin-bottom: 100px; 
    }
}

@media (max-width: 767px) {
    .navbar-collapse {
        padding: 15px;
    }
}


.card{
    height:100%;
}

.col-md-6 p{
    padding: 10px 0 0 0;
}

.locations-section .col-md-6 p:nth-of-type(1){
    font-weight:bold;
    text-align:center;
}

.locations-section .col-md-6 a{
    display:inline;
}

.locations-section .col-md-6 p:nth-of-type(1){
    font-weight:bold;
    text-align:center;
}

.locations-section .col-md-6 p:nth-of-type(2){
    text-align: justify;
    padding: 0 4vw 0 4vw;
}

.locations-section a{
    text-align: center;
}

.news-section a {
    display:inline;
}

.card-body img{
    object-fit: fill;
    height:250px;
    width:400px;

    display:block;
    margin:auto;
    margin-top:25px;
    margin-bottom:25px;
}

.card-text, .card-title{
    text-align: justify;
}

.locations-section * {
    display: block;
    margin:auto;
}

.active {
    color:#B04801 !important;
}

.social-icons img {
    width: 30px;
    margin: 0 10px;
}

.custom-list {
    list-style-type: none; 
    padding: 0; /* No padding for the list */
    margin: 0; /* No margin for the list */
    float:left;
}

.custom-list li a {
    text-align: left;
}

.custom-list li {
    position: relative; /* Required for the absolute positioning of the dash */
    padding-left: 15px; /* Space for the dash (adjust as needed) */
    margin: 5px 0; /* Add vertical margin to separate items */
    line-height: 1.5; /* Adjust line height for spacing */
    text-align: left; /* Ensure text is aligned to the left */

}

.custom-list li::before {
    content: '-';
    font-weight: bold; 
    position: absolute; /* Positioning the dash */
    left: 0; /* Align dash to the left */
    color: black; 
    top: 50%; /* Center vertically relative to the line height */
    transform: translateY(-50%); /* Adjust for proper vertical alignment */
}

.attractions-section {
    display: none;
    margin-top: 20px;
}

.attraction-item {
    margin-bottom: 20px;
}

.attraction-item img {
    max-width: 100%;
    height: auto;
}