/* Elements with display:inline-block act like text and are centered by applying text-align:center to their parent element. */
html, body {
    cursor: url("cursor.cur"), default;
    background-color: #e0a75a;
}

#title{
    color:#251b11;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#history{
    background-color:#794f27;
    margin:-10px;
    padding: 20px 100px 50px 100px;
    box-shadow: 0px 0px 5px 0px #251b11;
}

#link{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.text{
    font-family:Arial, Helvetica, sans-serif;
    text-align:justify;
    line-height: 1.6;
    font-weight:bold;
}

#vision{
    padding:10px 30px 20px 30px;
    margin: 40px 0 40px 0;

    background-color:#98672f;
    box-shadow: 0px 0px 5px 0px #251b11;

    width:40vw;
}

#mission{
    padding:10px 30px 20px 30px;
    margin: 0 0 40px 0;

    background-color:#bf915d;
    box-shadow: 0px 0px 5px 0px #251b11;

    width:40vw;
}

.subtitle{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.centering{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}