html, body {
    cursor: url("cursor.cur"), default;
    background-color: #e0a75a;
}

#banner{
    height: 200px;
    background-color:#bf915d;
    margin:20px;
    border:1px solid #794f27;
    box-shadow: 0px 0px 10px 0px #251b11;
}

#boyish{
    height:100%;
    width:100%;
    object-fit: contain;
}

#dialog{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.center-wrapper{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#image_section{
    display:inline-block;
    height:55%;
    width:25%;
    position:relative;
    animation: strecth 3s linear forwards;
}

#dialog_section{
    display: inline-block;
    opacity:0%;
    position:absolute;
    top: 0%;
    right: -130%;
    height: auto;
    width: 140%;

    animation:reveal 3s ease-in forwards;
    animation-delay: 3s;
}

h1 {
    font-size: 2.5em;
    color:#794f27;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    color:#51321d;
}

#div_history{
    
    background-color:#bf915d;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:10px 20px 10px 20px;
    padding:10px 70px 10px 70px;
    line-height: 1.6;
    border:1px solid #794f27;
}

.fit{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.three-columns{
	margin-top:25px;
    justify-content: space-around;
    display:flex;
    gap: 20px;
}

.three-columns div{
	float:left;
	width:300px;
	margin:0px 10px;
	text-align:center;
    flex:1;
    font-family:Arial, Helvetica, sans-serif;
}

.column-title{
	font-size:18px;
    text-align:center;
}

#sucursales li{
    text-align: justify;
    line-height: 1.4;
    margin:0px 0px 15px 0px;
    color:#251b11;
}

table, th, td {
    border: 1px solid #51321d;
    width:auto;
    padding:5px;
    margin:5px 12px 5px 5px;
    color:#251b11;
    font-weight: bold;
    background-color: #bf915d;
}

#family_table{
    display:flex;
    flex-direction: column;
}

#multi-button {
    position: relative;
    padding:15px 27px;
    color:#251b11;
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius:6px;
    border-width: 1px;
    cursor:pointer;
    transition: transform 0.2s ease;
    background-color: white;
}

#multi-button:active{
    transform: scale(0.86);
}

#tasty-text{
    color: #251b11;
    text-align: center;
    
    font-size:50px;
    transform: translateY(-170px);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif,cursive;
}

@keyframes strecth {
    0%{
        height:0%;
        width: 0%;
        visibility: visible;
    }
    50% {
        height:27.5%;
        width: 12.5%;
        visibility: visible;
    }
    100% {
        height:55%;
        width: 25%;
        visibility: visible;
    }
}

@keyframes reveal {
    0%{
        visibility: visible;
        opacity: 0%;
    }
    50% {
        opacity:50%;
    }
    100% {
        visibility: visible;
        opacity: 100%;
    }
}